header {
    background-image: linear-gradient(to right, #81BEF7, #F78181, #a4e887); /*azul vermelho verde*/
}

.desknav{
    color: white !important;
}

.share-brand {
    height: 56px;
    padding: .2em;
}