body{
    background-color: #FAFAFA;
}

h5{
    margin-top: 2em;
}

.row{
    margin-top: 5em;
}

.bigitem{
    height: 100px;
}

.title{
    float: left;
}

.addform{
    float: left;
    width: 30% !important;
    margin-bottom: 0;
}

.invisible{
    display: none;
}

.horario{
    text-align: start;
    width: 100%;
}

.card{
    background-color: #FAFAFA;
    border: 0 solid #FAFAFA;
    box-shadow: 0px 0px 0px 0px;
}

.logo{
    max-height: 20em;
    max-width: 20em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
}


.atualizar{
    background-color: #04B404;
    color: white;
    font-weight: bold;
    padding-top: 0.75em;
    margin-top: 3em;
}

.btn{
    width: 26ch;
    height: 4em;
}

.collection{
    max-width: 381px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 992px){
    .row{
        margin-top: 0px;
    }
    body{
        margin-right: 0px;
    }
}